Repository dhis2-sre/im-web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add lint commit message command to package json
  .husky/commit-msg
  package.json
Due: prettier --write

chore: cleanup
  .husky/pre-commit
Due: none

feat: initial google login
  src/components/auth-provider.tsx
  src/components/login.tsx
  src/contexts/auth-context.ts
Due: eslint --fix, prettier --write

chore: apply PR feedback
  .eslintrc.cjs
  .prettierignore
  .prettierrc.cjs
  README.md
Due: eslint --fix, prettier --write

chore(dockerfile): use node 20 for alpine
  Dockerfile
Due: none

chore(makefile): use docker for running tests
  Makefile
Due: none

chore(helm service template): undo formatting and prettier-ignore file
  .prettierignore
  helm/chart/templates/service.yaml
Due: prettier --write

chore: set API_URL env var for Vite instead of CRA
  .env.example
  Dockerfile
  docker-compose.yml
  skaffold.yaml
Due: prettier --write

fix(use auth axios): throw if VITE_API_URL env var is missing
  src/hooks/use-auth-axios.ts
Due: eslint --fix, prettier --write

feat(acc verification): add dedicated page for verification success
  src/app/app.tsx
  src/index.css
  src/views/account-verification/account-verification-success.module.css
  src/views/account-verification/account-verification-success.tsx
  src/views/account-verification/index.ts
  src/views/index.ts
Due: eslint --fix, prettier --write

chore(pre commit): lint files after formatting
  .husky/pre-commit
  package.json
Due: prettier --write

fix(validation): redirect to correct url after success
  src/app/app.tsx
  src/views/account-verification/account-verification-success.tsx
  src/views/account-verification/index.ts
  src/views/index.ts
  src/views/validate/index.ts
  src/views/validate/validate-success.module.css
  src/views/validate/validate-success.tsx
  src/views/validate/validate.tsx
Due: eslint --fix, prettier --write

feat: update routing for public routes and implementing login page
  src/app/app.tsx
  src/components/auth-provider.tsx
  src/components/index.ts
  src/components/public-layout.module.css
  src/components/public-layout.tsx
  src/views/index.ts
  src/views/public-databases-play/index.ts
  src/views/public-databases-play/list/database-play.tsx
  src/views/public-instances-play/index.ts
  src/views/public-instances-play/list/instance-play.tsx
  src/views/reset-password/request-password-reset.module.css
  src/views/reset-password/reset-password.module.css
  src/views/sign-in/index.ts
  src/views/sign-in/login.module.css
  src/views/sign-in/login.tsx
  src/views/sign-up/sign-up.module.css
  yarn.lock
Due: eslint --fix, prettier --write

feat: update routing for public routes and implementing login page
  src/app/app.tsx
  src/components/auth-provider.tsx
  src/components/public-layout.tsx
  src/views/public-databases-play/index.ts
  src/views/public-databases-play/list/database-play.tsx
  src/views/public-instances-play/index.ts
  src/views/public-instances-play/list/instance-play.tsx
Due: eslint --fix, prettier --write

chore(playwright): use test library @1.44.1 instead of 1.45.x
  package.json
  yarn.lock
Due: prettier --write

feat(sign up): display password-length error response message when given
  src/views/sign-up/sign-up.tsx
Due: eslint --fix, prettier --write

feat(sign up): display user-exists error response message when given
  src/views/sign-up/sign-up.tsx
Due: eslint --fix, prettier --write

feat: public instances table
  src/app/app.tsx
  src/components/layout.tsx
  src/components/public-layout.module.css
  src/components/public-layout.tsx
  src/index.css
  src/views/index.ts
  src/views/instances/list/instances-list.module.css
  src/views/public-databases-play/index.ts
  src/views/public-databases-play/list/database-play.tsx
  src/views/public-instances-play/index.ts
  src/views/public-instances-play/list/instance-play.module.css
  src/views/public-instances-play/list/instance-play.tsx
  src/views/public-instances-play/list/instance-table-filters.tsx
  src/views/public-instances-play/list/instances-table.module.css
  src/views/public-instances-play/list/instances-table.tsx
  src/views/reset-password/request-password-reset.module.css
  src/views/reset-password/reset-password.module.css
  src/views/sign-in/login.module.css
  src/views/sign-up/sign-up.module.css
Due: eslint --fix, prettier --write

feat: public instances table
  src/views/index.ts
Due: eslint --fix, prettier --write

chore: eliminate colliding dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: bump playwright
  docker-compose.yml
Due: prettier --write

feat: filter the deployment with name of play
  src/views/public-instances-play/list/instance-table-filters.tsx
  src/views/public-instances-play/list/instances-table.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: remove hard coded strings
  src/constants.ts
  src/views/public-instances-play/list/instance-table-filters.tsx
  src/views/public-instances-play/list/instances-table.tsx
Due: eslint --fix, prettier --write

Fix/e2e (#542)
  docker-compose.yml
  package.json
  yarn.lock
Due: prettier --write

chore: cleanup
  yarn.lock
Due: none

feat: move public checkbox upwards
  src/views/instances/new-dhis2/new-dhis2-instance-form.tsx
Due: eslint --fix, prettier --write

test: assert instance status in create new instance e2e test
  e2e/instances.spec.ts
Due: eslint --fix, prettier --write

feat: add searchable single select component
  package.json
  src/components/searchable-single-select.module.css
  src/components/searchable-single-select.tsx
  src/hooks/use-debounce-state.ts
  src/views/instances/new-dhis2/fields/image-tag-select.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: implement filtering in single select component
  src/components/searchable-single-select.module.css
  src/components/searchable-single-select.tsx
  src/views/instances/list/instances-list.tsx
  src/views/instances/new-dhis2/fields/image-tag-select.tsx
Due: eslint --fix, prettier --write

feat: integrate instance table with new api
  src/app/app.tsx
  src/views/public-instances-play/list/instance-table-filters.tsx
  src/views/public-instances-play/list/instances-table.module.css
  src/views/public-instances-play/list/instances-table.tsx
Due: eslint --fix, prettier --write

feat: integrate instance table with new api
  yarn.lock
Due: none

feat: revert auth-provider
  package.json
  src/app/app.tsx
  src/components/auth-provider.tsx
  src/components/layout.tsx
  src/components/login.module.css
  src/components/login.tsx
  src/views/index.ts
  src/views/public-instances/index.ts
  src/views/public-instances/list/instance-play.module.css
  src/views/public-instances/list/instance-play.tsx
  src/views/public-instances/list/instance-table-filters.tsx
  src/views/public-instances/list/instances-table.module.css
  src/views/public-instances/list/instances-table.tsx
  src/views/sign-in/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: revert auth-provider
  src/app/app.tsx
  src/components/auth-provider.tsx
  src/components/layout.tsx
  src/components/login.tsx
  src/views/index.ts
Due: eslint --fix, prettier --write

feat: filemanager DBs
  package.json
  src/views/databases/databases-list.module.css
  src/views/databases/databases-list.tsx
  src/views/databases/delete-button.tsx
  src/views/databases/download-button.tsx
  src/views/databases/tree-item.module.css
  yarn.lock
Due: eslint --fix, prettier --write

feat: smaller icons
  src/views/databases/databases-list.module.css
  src/views/databases/databases-list.tsx
  src/views/databases/tree-item.module.css
Due: eslint --fix, prettier --write

feat: add description form field to create group modal
  src/types/generated/models/Group.ts
  src/views/groups/groups-list.tsx
  src/views/groups/new-group-modal.tsx
Due: eslint --fix, prettier --write

chore: clean up
  yarn.lock
Due: none

chore: clean up
  docker-compose.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,jsx,tsx,cjs}
  prettier --write: (any of: **/*.{js,ts,jsx,tsx,cjs}) or (any of: **/*.{yml,yaml,json,html,css,md})
