Repository dhis2-sre/im-web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,cjs}": ["eslint --fix", "prettier --write"],
    "**/*.{yml,yaml,json,html,css,md}": ["prettier --write"]
}

feat: initial support for companion stacks
  src/constants.ts
  src/hooks/use-dhis2-deployment.ts
  src/views/instances/new-dhis2/constants.ts
  src/views/instances/new-dhis2/new-dhis2-instance-form.tsx
  src/views/instances/new-dhis2/parameter-fieldset.tsx
Due: eslint --fix, prettier --write

chore: temp change to allow testing
  README.md
Due: prettier --write

feat: show database size and url
  package.json
  src/types/generated/models/Database.ts
  src/views/databases/databases-list.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: construct open url with the new group id
  src/types/generated/models/Group.ts
  src/views/instances/list/instances-list.tsx
  src/views/instances/list/open-button.tsx
Due: eslint --fix, prettier --write

chore: remove dummy change
  README.md
Due: prettier --write

feat: show database size and url (#716)
  package.json
  src/types/generated/models/Database.ts
  src/views/databases/databases-list.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: fix path
  src/views/instances/list/open-button.tsx
Due: eslint --fix, prettier --write

fix: database listing
  src/views/databases/databases-list.tsx
Due: eslint --fix, prettier --write

chore: include the cluster name for the instance view open button
  src/views/instances/details/view-instance-menu-item.tsx
Due: eslint --fix, prettier --write

feat: initial deployment update
  src/app/app.tsx
  src/hooks/index.ts
  src/hooks/use-dhis2-deployment-update.ts
  src/views/instances/details/deployment-details.tsx
  src/views/instances/index.ts
  src/views/instances/new-dhis2/edit-dhis2-instance.tsx
  src/views/instances/new-dhis2/new-dhis2-instance-form.tsx
Due: eslint --fix, prettier --write

feat: initial instance update
  src/hooks/index.ts
  src/hooks/use-dhis2-deployment-update.ts
  src/hooks/use-dhis2-instance-update.ts
  src/hooks/use-dhis2-stack-parameters.ts
  src/views/instances/new-dhis2/edit-dhis2-instance.tsx
  src/views/instances/new-dhis2/fields/parameter-field.tsx
  src/views/instances/new-dhis2/fields/text-parameter-input.tsx
  src/views/instances/new-dhis2/fields/textarea-parameter.tsx
  src/views/instances/new-dhis2/new-dhis2-instance-form.tsx
  src/views/instances/new-dhis2/parameter-fieldset.tsx
Due: eslint --fix, prettier --write

chore: remove redundant comments
  src/hooks/use-dhis2-deployment-update.ts
  src/views/instances/new-dhis2/edit-dhis2-instance.tsx
Due: eslint --fix, prettier --write

fix: rename database
  src/views/databases/database-row-action.tsx
  src/views/databases/rename-database-modal.tsx
Due: eslint --fix, prettier --write

feat: initial nested database view
  src/views/databases/database-tree-utils.ts
  src/views/databases/databases-list.tsx
Due: eslint --fix, prettier --write

chore: list "folders" first
  src/views/databases/database-tree-utils.ts
Due: eslint --fix, prettier --write

fix: rename database (#718)
  src/views/databases/database-row-action.tsx
  src/views/databases/rename-database-modal.tsx
Due: eslint --fix, prettier --write

chore: enforce display order
  src/views/instances/new-dhis2/new-dhis2-instance-form.tsx
Due: eslint --fix, prettier --write

chore: trim path from name
  src/views/databases/databases-list.tsx
Due: eslint --fix, prettier --write

chore: proper bread crumbs and useSearchParams so clicking back and forth works
  src/views/databases/databases-list.tsx
Due: eslint --fix, prettier --write

chore: make sure the group isn't clickable if it's the current state
  src/views/databases/databases-list.tsx
Due: eslint --fix, prettier --write

feat: show whether a stack parameter is sensitive or not when viewing stack details
  src/views/stacks/stack-details.tsx
Due: eslint --fix, prettier --write

chore: doesn't include consumed parameters when deploying
  src/hooks/use-dhis2-stack-parameters.ts
  src/views/instances/new-dhis2/edit-dhis2-instance.tsx
Due: eslint --fix, prettier --write

feat: show whether a stack parameter is sensitive or not when viewing stack details (#720)
  src/views/stacks/stack-details.tsx
Due: eslint --fix, prettier --write

chore: migrate dns
  .env.example
  .envrc
  .github/workflows/playwright.yml
Due: prettier --write

chore: use colSpan
  src/views/databases/databases-list.tsx
Due: eslint --fix, prettier --write

chore: no need to make the function recursive since we're only dealing with one level/layer at the time
  src/views/databases/database-tree-utils.ts
  src/views/databases/databases-list.tsx
Due: eslint --fix, prettier --write

feat: nested database view (#719)
  src/views/databases/database-tree-utils.ts
  src/views/databases/databases-list.tsx
Due: eslint --fix, prettier --write

feat: Glowroot
  src/views/instances/new-dhis2/constants.ts
  src/views/instances/new-dhis2/fields/parameter-field.tsx
Due: eslint --fix, prettier --write

feat: Glowroot (#723)
  src/views/instances/new-dhis2/constants.ts
  src/views/instances/new-dhis2/fields/parameter-field.tsx
Due: eslint --fix, prettier --write

feat: Glowroot button
  src/views/instances/details/deployment-instances-list.tsx
  src/views/instances/details/view-instance-menu-item.tsx
Due: eslint --fix, prettier --write

chore: get fresh deployment details
  src/hooks/use-deployment-details.ts
Due: eslint --fix, prettier --write

feat: glowroot (#724)
  src/hooks/use-deployment-details.ts
  src/views/instances/details/deployment-instances-list.tsx
  src/views/instances/details/view-instance-menu-item.tsx
Due: eslint --fix, prettier --write

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: prettier --write

chore: bump vite
  package.json
  yarn.lock
Due: prettier --write

chore: change name
  package.json
Due: prettier --write

chore: change name
  yarn.lock
Due: none

fix: set VITE_API_URL in .envrc
  .envrc
Due: none

chore: consume DATABASE_ID automatically
  src/hooks/use-dhis2-deployment.ts
Due: eslint --fix, prettier --write

chore: sync minio stack checkbox with dhis2-core storage type param
  src/views/instances/new-dhis2/new-dhis2-instance.tsx
Due: eslint --fix, prettier --write
