Repository dhis2-sre/im-web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,cjs}": ["eslint --fix", "prettier --write"],
    "**/*.{yml,yaml,json,html,css,md}": ["prettier --write"]
}

chore: button and menu works again
  src/views/instances/details/deployment-instances-list.tsx
Due: eslint --fix, prettier --write

chore: rename
  src/views/instances/details/instance-details.tsx
  src/views/instances/details/instance-summary.tsx
Due: eslint --fix, prettier --write

chore: fix style
  src/views/instances/details/instance-details.tsx
  src/views/instances/details/instance-summary.tsx
Due: eslint --fix, prettier --write

chore: fix types
  src/components/auth-provider.tsx
  src/hooks/use-dhis2-deployment.ts
  src/views/instances/details/delete-menu-item.tsx
  src/views/instances/details/log-menu-item.tsx
  src/views/instances/details/reset-menu-item.tsx
  src/views/instances/details/restart-menu-item.tsx
  src/views/instances/list/delete-menu-button.tsx
  src/views/instances/list/filter-deployments.tsx
Due: eslint --fix, prettier --write

chore: fix type
  src/views/instances/list/instances-list.tsx
Due: eslint --fix, prettier --write

fix: folder select
  e2e/utils/delete-database.ts
  e2e/utils/upload-database.ts
  package.json
  src/views/databases/databases-list.module.css
  src/views/databases/databases-list.tsx
  src/views/databases/delete-button.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: remember me (#469)
  src/components/login.tsx
  src/contexts/auth-context.ts
  src/hooks/use-auth-axios.ts
Due: eslint --fix, prettier --write

feat: show lock icon for sensitive parameter values
  src/types/generated/models/StackParameter.ts
  src/views/instances/details/instance-details.tsx
  src/views/instances/details/instance-summary.tsx
Due: eslint --fix, prettier --write

chore: initial non-working custom ttl
  src/views/instances/new-dhis2/fields/ttl-select.tsx
  src/views/instances/new-dhis2/new-dhis2-instance-form.tsx
Due: eslint --fix, prettier --write

feat: show custum calender
  src/views/instances/new-dhis2/new-dhis2-instance-form.tsx
Due: eslint --fix, prettier --write

feat: create ttl and custom ttl component
  src/views/instances/list/instances-list.tsx
  src/views/instances/new-dhis2/fields/fields.module.css
  src/views/instances/new-dhis2/fields/ttl-select.tsx
  src/views/instances/new-dhis2/new-dhis2-instance-form.tsx
Due: eslint --fix, prettier --write

fix: update date logic
  src/views/instances/new-dhis2/fields/ttl-select.tsx
Due: eslint --fix, prettier --write

feat: save file storage
  src/views/instances/details/actions-dropdown-menu.tsx
  src/views/instances/details/save-fs-menu-item.tsx
  src/views/instances/details/save-fs-modal.tsx
  src/views/instances/list/instances-list.tsx
Due: eslint --fix, prettier --write

feat: show lock icon for sensitive parameter values (#646)
  src/types/generated/models/StackParameter.ts
  src/views/instances/details/instance-details.tsx
  src/views/instances/details/instance-summary.tsx
Due: eslint --fix, prettier --write

chore: show access denied notification
  src/views/instances/details/instance-details.tsx
  src/views/instances/details/instance-summary.tsx
Due: eslint --fix, prettier --write

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: prettier --write

fix: package.json & yarn.lock to reduce vulnerabilities (#647)
  package.json
  yarn.lock
Due: prettier --write

chore: fix linting errors
  src/views/instances/list/instances-list.tsx
Due: eslint --fix, prettier --write

chore: set public property on dhis2-core instance only
  src/hooks/use-dhis2-deployment.ts
Due: eslint --fix, prettier --write

fix: upgrade typescript from 5.6.3 to 5.7.2
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @dhis2/ui from 9.11.7 to 9.15.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @dhis2/app-service-alerts from 3.11.2 to 3.12.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @dhis2/app-runtime from 3.11.2 to 3.12.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade react-router from 6.27.0 to 6.28.1
  package.json
  yarn.lock
Due: prettier --write

feat: add the option to rename and copy a database
  src/types/generated/models/Database.ts
  src/views/databases/copy-database-modal.tsx
  src/views/databases/database-row.tsx
  src/views/databases/databases-list.module.css
  src/views/databases/databases-list.tsx
  src/views/databases/delete-button.tsx
  src/views/databases/download-button.tsx
  src/views/databases/rename-database-modal.tsx
  src/views/databases/upload-database-modal.module.css
Due: eslint --fix, prettier --write

chore: initial non-working custom ttl (#641)
  src/views/instances/list/instances-list.tsx
  src/views/instances/new-dhis2/fields/fields.module.css
  src/views/instances/new-dhis2/fields/ttl-select.tsx
Due: eslint --fix, prettier --write

fix: cleanup and file udate
  src/views/databases/copy-database-modal.tsx
  src/views/databases/database-row.tsx
  src/views/databases/delete-button.tsx
  src/views/databases/download-button.tsx
  src/views/databases/rename-database-modal.tsx
Due: eslint --fix, prettier --write

fix: cleanup and file udate
  src/views/databases/copy-database-modal.tsx
  src/views/databases/database-row.tsx
Due: eslint --fix, prettier --write

chore: bump nodejs version
  Dockerfile
Due: none

chore: bump vite version and remove react-scripts
  package.json
  yarn.lock
Due: prettier --write

feat: remove nested options
  src/views/databases/copy-database-modal.tsx
Due: eslint --fix, prettier --write

Bump versions (#656)
  Dockerfile
  package.json
  yarn.lock
Due: prettier --write

feat: copy and rename functionality for databases (#655)
  src/types/generated/models/Database.ts
  src/views/databases/copy-database-modal.tsx
  src/views/databases/database-row.tsx
  src/views/databases/databases-list.module.css
  src/views/databases/databases-list.tsx
  src/views/databases/delete-button.tsx
  src/views/databases/download-button.tsx
  src/views/databases/rename-database-modal.tsx
  src/views/databases/upload-database-modal.module.css
Due: eslint --fix, prettier --write

chore: redirect to instance
  src/hooks/use-dhis2-deployment.ts
  src/views/instances/new-dhis2/new-dhis2-instance.tsx
Due: eslint --fix, prettier --write

chore: click menu item rather than button
  e2e/utils/delete-database.ts
Due: eslint --fix, prettier --write
