Repository dhis2-sre/im-web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,cjs}": ["eslint --fix", "prettier --write"],
    "**/*.{yml,yaml,json,html,css,md}": ["prettier --write"]
}

chore: clean up yarn.lock
  yarn.lock
Due: none

test: initial cypress tests
  .env.example
  Makefile
  cypress/cypress.config.js
  cypress/e2e/databases.cy.ts
  cypress/e2e/env.ts
  cypress/e2e/stack.cy.ts
  cypress/e2e/utils.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  docker-compose.yml
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: initial playwright setup to replace cypress
  .env.example
  .github/workflows/playwright.yml
  .gitignore
  README.md
  cypress/cypress.config.js
  cypress/e2e/databases.cy.ts
  cypress/e2e/env.ts
  cypress/e2e/stack.cy.ts
  cypress/e2e/utils.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  e2e/.eslintrc
  e2e/databases.spec.ts
  e2e/stack.spec.ts
  e2e/utils/env.ts
  e2e/utils/index.ts
  e2e/utils/login.ts
  e2e/utils/logout.ts
  package.json
  playwright.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: provide env variables to playwright tests
  .github/workflows/playwright.yml
Due: prettier --write

chore: start app before the tests
  .github/workflows/playwright.yml
Due: prettier --write

chore: use full yarn start command for clarity
  .github/workflows/playwright.yml
Due: prettier --write

chore: set baseUrl and start command in config
  .github/workflows/playwright.yml
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: omit baseUrl from page.goto calls
  e2e/utils/login.ts
Due: eslint --fix, prettier --write

chore: use localhost instead of number to see if that fixes the tests
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: use npx instead of yarn on ci
  .github/workflows/playwright.yml
Due: prettier --write

chore: install with yarn frozen-lockfile
  .github/workflows/playwright.yml
Due: prettier --write

chore: see if this command ends
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: run in background pls
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: revert to just using yarn start
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: ensure the start process does not open a browser
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: tweaking the config again
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: set reuseExistingServer to false
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: add verbose logging
  .github/workflows/playwright.yml
Due: prettier --write

chore: set headless to true
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: explicitely set everything to headless: true
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: remove debug flag because that is causing the headed error
  .github/workflows/playwright.yml
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: add an await
  e2e/.eslintrc
  e2e/stack.spec.ts
Due: eslint --fix, prettier --write

chore: downgrade playwright
  package.json
  yarn.lock
Due: prettier --write

chore: fix config for older version
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: revert playwright downgrade because it does not work
  package.json
  playwright.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: undo setting change
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: provide fallback values for baseURL
  src/hooks/use-auth-axios.ts
Due: eslint --fix, prettier --write

chore: tweak env variable names to match GH secrets
  .github/workflows/playwright.yml
  e2e/utils/env.ts
Due: eslint --fix, prettier --write

chore: adjust variable names
  .github/workflows/playwright.yml
Due: prettier --write

chore: cancel workflow when a new commit is pushed
  .github/workflows/playwright.yml
Due: prettier --write

chore: load env variables in a generic way from the playwright config
  e2e/utils/env.ts
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: remove stray console.log
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: run e2e tests in docker container
  Makefile
  docker-compose.yml
Due: prettier --write

chore: remove redundant comment in docker compose
  docker-compose.yml
Due: prettier --write

chore: run e2e on ci with makefile
  .github/workflows/playwright.yml
Due: prettier --write

chore: checkout repo
  .github/workflows/playwright.yml
Due: prettier --write

chore: try artifact upload
  .github/workflows/playwright.yml
Due: prettier --write

fix: restore field alignment to original
  src/views/instances/stack-configurator.module.css
  src/views/instances/stack-configurator.tsx
Due: eslint --fix, prettier --write

fix: restore field alignment to original (#193)
  src/views/instances/stack-configurator.module.css
  src/views/instances/stack-configurator.tsx
Due: eslint --fix, prettier --write

chore: wrap quotes on true
  .github/workflows/playwright.yml
Due: prettier --write
