Repository dhis2-sre/im-web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,cjs}": ["eslint --fix", "prettier --write"],
    "**/*.{yml,yaml,json,html,css,md}": ["prettier --write"]
}

feat: stream uploads to S3 (aka. upload large files) (#688)
  src/views/databases/upload-database-modal.tsx
Due: eslint --fix, prettier --write

fix: open instance button (#689)
  src/views/instances/details/deployment-details.tsx
  src/views/instances/details/deployment-instances-list.tsx
  src/views/instances/details/view-instance-menu-item.tsx
Due: eslint --fix, prettier --write

feat: show group resources
  src/types/generated/index.ts
  src/types/generated/models/ClusterResources.ts
  src/types/generated/models/CreateGroupRequest.ts
  src/types/generated/models/FileHeader.ts
  src/types/generated/models/Group.ts
  src/types/generated/models/MIMEHeader.ts
  src/types/generated/models/uploadDatabaseRequest.ts
  src/views/instances/new-dhis2/fields/group-select.tsx
Due: eslint --fix, prettier --write

chore: pre-commit
  README.md
  src/views/instances/details/deployment-instances-list.tsx
  src/views/instances/details/view-instance-menu-item.tsx
Due: eslint --fix, prettier --write

refactor: introduce GroupSelectHelpText component
  src/views/instances/new-dhis2/fields/group-select-help-text.tsx
  src/views/instances/new-dhis2/fields/group-select.tsx
Due: eslint --fix, prettier --write

chore: generate types
  src/types/generated/index.ts
  src/types/generated/models/ClusterResources.ts
  src/types/generated/models/CreateGroupRequest.ts
  src/types/generated/models/FileHeader.ts
  src/types/generated/models/Group.ts
  src/types/generated/models/MIMEHeader.ts
  src/types/generated/models/uploadDatabaseRequest.ts
Due: eslint --fix, prettier --write

chore: show small loader
  src/views/instances/new-dhis2/fields/group-select-help-text.tsx
Due: eslint --fix, prettier --write

chore: remove redundant parent element
  src/views/instances/new-dhis2/fields/group-select.tsx
Due: eslint --fix, prettier --write

feat: show group resources (#691)
  src/views/instances/new-dhis2/fields/group-select-help-text.tsx
  src/views/instances/new-dhis2/fields/group-select.tsx
Due: eslint --fix, prettier --write

feat: add initial update deployment page
  src/app/app.tsx
  src/hooks/index.ts
  src/hooks/use-dhis2-deployment.ts
  src/views/instances/details/deployment-details.tsx
  src/views/instances/new-dhis2/fields/group-select.tsx
  src/views/instances/update-dhis2/fields/name-input.tsx
  src/views/instances/update-dhis2/fields/ttl-input.tsx
  src/views/instances/update-dhis2/styles.module.css
  src/views/instances/update-dhis2/update-dhis2-instance-form.tsx
  src/views/instances/update-dhis2/update-dhis2-instance.tsx
Due: eslint --fix, prettier --write

chore: add preliminary user docs
  docs/resources/images/core_advanced.png
  docs/resources/images/create_instance.png
  docs/resources/images/databases.png
  docs/resources/images/im_signup.png
  docs/resources/images/instance_details.png
  docs/resources/images/instances.png
  docs/resources/images/login.png
  docs/resources/images/postgres_advanced.png
  docs/user_guide.md
Due: prettier --write

Update user_guide.md
  docs/user_guide.md
Due: prettier --write

Update docs/user_guide.md
  docs/user_guide.md
Due: prettier --write

feat: show lock icon on locked databases
  src/types/generated/index.ts
  src/types/generated/models/Category.ts
  src/types/generated/models/ClusterConfiguration.ts
  src/types/generated/models/ClusterResources.ts
  src/types/generated/models/CopyDatabaseRequest.ts
  src/types/generated/models/CreateExternalDatabaseRequest.ts
  src/types/generated/models/CreateGroupRequest.ts
  src/types/generated/models/Database.ts
  src/types/generated/models/Deployment.ts
  src/types/generated/models/DeploymentInstance.ts
  src/types/generated/models/DeploymentInstanceParameter.ts
  src/types/generated/models/DeploymentInstanceParameters.ts
  src/types/generated/models/ExternalDownload.ts
  src/types/generated/models/Group.ts
  src/types/generated/models/GroupWithDeployments.ts
  src/types/generated/models/GroupWithPublicInstances.ts
  src/types/generated/models/GroupsWithDatabases.ts
  src/types/generated/models/InstanceStatus.ts
  src/types/generated/models/Lock.ts
  src/types/generated/models/PublicInstance.ts
  src/types/generated/models/RefreshTokenRequest.ts
  src/types/generated/models/RequestPasswordResetRequest.ts
  src/types/generated/models/ResetPasswordRequest.ts
  src/types/generated/models/SaveDeploymentRequest.ts
  src/types/generated/models/SaveInstanceRequest.ts
  src/types/generated/models/Stack.ts
  src/types/generated/models/StackParameter.ts
  src/types/generated/models/UpdateDatabaseRequest.ts
  src/types/generated/models/UpdateDeploymentRequest.ts
  src/types/generated/models/User.ts
  src/types/generated/models/parameter.ts
  src/types/generated/models/parameters.ts
  src/types/generated/models/saveAsRequest.ts
  src/types/generated/models/signUpRequest.ts
  src/types/generated/models/updateUserRequest.ts
  src/types/generated/models/validateEmailRequest.ts
  src/views/databases/databases-list.tsx
  src/views/databases/locked.tsx
Due: eslint --fix, prettier --write

feat: initial listing of clusters
  src/app/app.tsx
  src/components/layout.tsx
  src/types/generated/index.ts
  src/types/generated/models/Cluster.ts
  src/types/generated/models/ClusterConfiguration.ts
  src/types/generated/models/CreateClusterRequest.ts
  src/types/generated/models/FileHeader.ts
  src/types/generated/models/Group.ts
  src/types/generated/models/MIMEHeader.ts
  src/types/generated/models/UpdateClusterRequest.ts
  src/types/generated/models/UpdateDeploymentRequest.ts
  src/views/clusters/clusters-list.module.css
  src/views/clusters/clusters-list.tsx
  src/views/clusters/new-cluster-button.tsx
  src/views/groups/groups-list.tsx
Due: eslint --fix, prettier --write

feat: show lock icon on locked databases (#700)
  src/types/generated/index.ts
  src/types/generated/models/Category.ts
  src/types/generated/models/ClusterConfiguration.ts
  src/types/generated/models/ClusterResources.ts
  src/types/generated/models/CopyDatabaseRequest.ts
  src/types/generated/models/CreateExternalDatabaseRequest.ts
  src/types/generated/models/CreateGroupRequest.ts
  src/types/generated/models/Database.ts
  src/types/generated/models/Deployment.ts
  src/types/generated/models/DeploymentInstance.ts
  src/types/generated/models/DeploymentInstanceParameter.ts
  src/types/generated/models/DeploymentInstanceParameters.ts
  src/types/generated/models/ExternalDownload.ts
  src/types/generated/models/Group.ts
  src/types/generated/models/GroupWithDeployments.ts
  src/types/generated/models/GroupWithPublicInstances.ts
  src/types/generated/models/GroupsWithDatabases.ts
  src/types/generated/models/InstanceStatus.ts
  src/types/generated/models/Lock.ts
  src/types/generated/models/PublicInstance.ts
  src/types/generated/models/RefreshTokenRequest.ts
  src/types/generated/models/RequestPasswordResetRequest.ts
  src/types/generated/models/ResetPasswordRequest.ts
  src/types/generated/models/SaveDeploymentRequest.ts
  src/types/generated/models/SaveInstanceRequest.ts
  src/types/generated/models/Stack.ts
  src/types/generated/models/StackParameter.ts
  src/types/generated/models/UpdateDatabaseRequest.ts
  src/types/generated/models/UpdateDeploymentRequest.ts
  src/types/generated/models/User.ts
  src/types/generated/models/parameter.ts
  src/types/generated/models/parameters.ts
  src/types/generated/models/saveAsRequest.ts
  src/types/generated/models/signUpRequest.ts
  src/types/generated/models/updateUserRequest.ts
  src/types/generated/models/validateEmailRequest.ts
  src/views/databases/databases-list.tsx
  src/views/databases/locked.tsx
Due: eslint --fix, prettier --write

fix: abort request if groupName is undefined
  src/views/instances/new-dhis2/fields/group-select-help-text.tsx
Due: eslint --fix, prettier --write

fix: abort request if groupName is undefined (#702)
  src/views/instances/new-dhis2/fields/group-select-help-text.tsx
Due: eslint --fix, prettier --write

chore: remove out loop
  src/views/clusters/clusters-list.tsx
Due: eslint --fix, prettier --write

chore: create LICENSE
  LICENSE
Due: none

chore: create LICENSE (#704)
  LICENSE
Due: none

feat: expose the ALLOW_SUSPEND stack parameter
  src/views/instances/new-dhis2/constants.ts
  src/views/instances/new-dhis2/fields/parameter-field.tsx
Due: eslint --fix, prettier --write

fix: package.json to reduce vulnerabilities
  package.json
Due: prettier --write

chore: cleanup
  src/types/generated/models/Database.ts
  src/views/databases/databases-list.tsx
  src/views/databases/filter-datebase.tsx
Due: eslint --fix, prettier --write

feat: add database description
  src/types/generated/models/Database.ts
  src/types/generated/models/UpdateDatabaseRequest.ts
  src/views/databases/databases-list.tsx
  src/views/databases/upload-database-modal.tsx
Due: eslint --fix, prettier --write

chore: fix typo
  src/views/instances/details/deployment-summary.tsx
Due: eslint --fix, prettier --write

chore: generate types
  src/types/generated/models/Database.ts
  src/types/generated/models/UpdateDatabaseRequest.ts
Due: eslint --fix, prettier --write
