Repository dhis2-sre/im-web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,cjs}": ["eslint --fix", "prettier --write"],
    "**/*.{yml,yaml,json,html,css,md}": ["prettier --write"]
}

chore: dummy commit
  README.md
Due: prettier --write

fix: add constants and add view button on the list view
  src/constants.ts
  src/views/instances/details/actions-dropdown-menu.tsx
  src/views/instances/details/deployment-instances-list.tsx
  src/views/instances/details/view-instance-menu-item.tsx
Due: eslint --fix, prettier --write

fix: add constants
  src/constants.ts
  src/hooks/use-dhis2-deployment.ts
Due: eslint --fix, prettier --write

fix: add stack names to constants
  src/constants.ts
  src/views/instances/details/view-instance-menu-item.tsx
Due: eslint --fix, prettier --write

fix(dhis2 ui types): correct wrongly used types
  src/app/app.tsx
  src/components/confirmation-modal.tsx
  src/views/databases/upload-database-modal.tsx
  src/views/groups/new-group-modal.tsx
  src/views/instances/details/deployment-details.tsx
  src/views/instances/new-dhis2/fields/image-repository-select.tsx
  src/views/users/add-to-group-modal.tsx
Due: eslint --fix, prettier --write

fix(dhis2 ui): update to fix type issues
  package.json
  yarn.lock
Due: prettier --write

fix(public files): add favicon, images and update index.html
  index.html
  public/favicon.ico
  public/logo192.png
  public/logo512.png
  public/robots.txt
Due: prettier --write

chore: add github workflows
  .github/dependabot.yml
  .github/workflows/build-test-deploy.yaml
  .github/workflows/delete-env.yaml
  .github/workflows/dependabot.yaml
  .github/workflows/playwright.yml
Due: prettier --write

chore: restore helm, .hooks and e2e folders
  .hooks/commit-msg
  .hooks/pre-commit
  .hooks/pre-push
  e2e/.eslintrc
  e2e/README.md
  e2e/databases.spec.ts
  e2e/instances.spec.ts
  e2e/stack.spec.ts
  e2e/utils/delete-database.ts
  e2e/utils/env.ts
  e2e/utils/index.ts
  e2e/utils/login.ts
  e2e/utils/logout.ts
  e2e/utils/upload-database.ts
  helm/chart/.helmignore
  helm/chart/Chart.yaml
  helm/chart/templates/NOTES.txt
  helm/chart/templates/_helpers.tpl
  helm/chart/templates/deployment.yaml
  helm/chart/templates/hpa.yaml
  helm/chart/templates/ingress.yaml
  helm/chart/templates/service.yaml
  helm/chart/templates/serviceaccount.yaml
  helm/chart/templates/tests/test-connection.yaml
  helm/chart/values.yaml
  helm/data/secrets/dev/values.yaml
  helm/data/secrets/feature
  helm/data/secrets/prod/values.yaml
  helm/data/values/dev/values.yaml
  helm/data/values/feature
  helm/data/values/prod/values.yaml
Due: eslint --fix, prettier --write

chore: add missing deps & .prettierrc.js
  .prettierrc.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: fix linter issues
  README.md
  e2e/utils/delete-database.ts
  index.html
  package.json
  src/app/app.tsx
  src/components/auth-provider.tsx
  src/components/confirmation-modal.tsx
  src/components/error-view.module.css
  src/components/login.module.css
  src/components/logout-button.module.css
  src/hooks/use-auth-axios.ts
  src/main.tsx
  src/suppress-defaultprops-error-message.ts
  src/views/databases/upload-database-modal.tsx
  src/views/groups/new-group-modal.tsx
  src/views/instances/details/deployment-details.tsx
  src/views/instances/details/log-menu-item.module.css
  src/views/instances/list/filter-deployments.tsx
  src/views/instances/list/instances-list.tsx
  src/views/instances/new-dhis2/fields/parameter-field.tsx
  src/views/reset-password/request-password-reset.module.css
  src/views/reset-password/reset-password.module.css
  src/views/sign-up/sign-up.module.css
  src/views/stacks/stack-details.module.css
  src/views/users/add-to-group-modal.module.css
  src/views/users/add-to-group-modal.tsx
  src/views/validate/validate.module.css
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write

fix: update stack names constant
  src/hooks/use-dhis2-stack-parameters.ts
Due: eslint --fix, prettier --write

feat: add confirm password input to pg admin (#507)
  src/hooks/use-dhis2-deployment.ts
  src/hooks/use-dhis2-stack-parameters.ts
  src/views/instances/new-dhis2/constants.ts
  src/views/instances/new-dhis2/fields/confirm-password.tsx
  src/views/instances/new-dhis2/fields/parameter-field.tsx
  src/views/instances/new-dhis2/parameter-fieldset.tsx
  src/views/instances/new-dhis2/styles.module.css
Due: eslint --fix, prettier --write

chore: add missing files
  Dockerfile
  Makefile
  docker-compose.yml
  nginx.conf
  playwright.config.ts
  skaffold.yaml
Due: eslint --fix, prettier --write

fix: update styling on instances
  src/utils/tag.ts
  src/utils/tag.tsx
  src/views/instances/list/instance-tag.tsx
  src/views/instances/list/instances-list.module.css
  src/views/instances/list/instances-list.tsx
Due: eslint --fix, prettier --write

fix: improve instance details styling
  src/views/instances/details/deployment-details.module.css
  src/views/instances/details/deployment-details.tsx
  src/views/instances/details/deployment-summary.module.css
  src/views/instances/details/deployment-summary.tsx
Due: eslint --fix, prettier --write

chore: align playwright dep versions to get tests to work again
  package.json
  yarn.lock
Due: prettier --write

chore: add missing empty-db file
  .gitignore
  e2e/fixtures/empty-db.sql.gz
  package.json
Due: prettier --write

chore(dockerfile): use node 20
  Dockerfile
Due: none

chore: get jest to work again
  jest.config.js
  package.json
  src/views/instances/new-dhis2/fields/name-input.tsx
  src/views/instances/new-dhis2/fields/validate-dns-label.test.ts
  src/views/instances/new-dhis2/fields/validate-dns-label.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(make test): run yarn directly
  Makefile
  package.json
Due: prettier --write

chore: add pre-commit hook
  .hooks/commit-msg
  .hooks/pre-commit
  .hooks/pre-push
  .husky/_/.gitignore
  .husky/_/husky.sh
  .husky/pre-commit
  e2e/utils/delete-database.ts
  package.json
  src/components/auth-provider.tsx
  src/components/error-view.module.css
  src/components/login.module.css
  src/components/logout-button.module.css
  src/hooks/use-auth-axios.ts
  src/index.tsx
  src/views/instances/details/deployment-instances-list.tsx
  src/views/instances/details/log-menu-item.module.css
  src/views/instances/details/view-instance-menu-item.tsx
  src/views/instances/list/filter-deployments.tsx
  src/views/instances/list/instances-list.tsx
  src/views/instances/new-dhis2/fields/confirm-password.tsx
  src/views/instances/new-dhis2/fields/parameter-field.tsx
  src/views/reset-password/request-password-reset.module.css
  src/views/reset-password/reset-password.module.css
  src/views/sign-up/sign-up.module.css
  src/views/stacks/stack-details.module.css
  src/views/users/add-to-group-modal.module.css
  src/views/validate/validate.module.css
  yarn.lock
Due: eslint --fix, prettier --write

chore: add dhis2 code style rules
  .editorconfig
  .eslintrc.cjs
  .prettierignore
  .prettierrc.cjs
  .prettierrc.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: remove spacing and assertions
  src/views/instances/details/deployment-summary.module.css
  src/views/instances/details/deployment-summary.tsx
Due: eslint --fix, prettier --write

Update src/utils/tag.tsx
  src/utils/tag.tsx
Due: eslint --fix, prettier --write

fix: remove unused variable
  src/views/instances/list/instance-tag.tsx
Due: eslint --fix, prettier --write

chore: run yarn format affecting multiple pages
  e2e/utils/delete-database.ts
  src/components/auth-provider.tsx
  src/components/error-view.module.css
  src/components/login.module.css
  src/components/logout-button.module.css
  src/hooks/use-auth-axios.ts
  src/index.tsx
  src/utils/tag.tsx
  src/views/instances/details/deployment-instances-list.tsx
  src/views/instances/details/log-menu-item.module.css
  src/views/instances/details/view-instance-menu-item.tsx
  src/views/instances/list/filter-deployments.tsx
  src/views/instances/list/instances-list.tsx
  src/views/instances/new-dhis2/fields/confirm-password.tsx
  src/views/instances/new-dhis2/fields/parameter-field.tsx
  src/views/reset-password/request-password-reset.module.css
  src/views/reset-password/reset-password.module.css
  src/views/sign-up/sign-up.module.css
  src/views/stacks/stack-details.module.css
  src/views/users/add-to-group-modal.module.css
  src/views/validate/validate.module.css
Due: eslint --fix, prettier --write

chore: run yarn format affecting multiple pages
  e2e/utils/delete-database.ts
  src/components/auth-provider.tsx
  src/components/error-view.module.css
  src/components/login.module.css
  src/components/logout-button.module.css
  src/hooks/use-auth-axios.ts
  src/index.tsx
  src/views/instances/details/deployment-instances-list.tsx
  src/views/instances/details/deployment-summary.tsx
  src/views/instances/details/log-menu-item.module.css
  src/views/instances/details/view-instance-menu-item.tsx
  src/views/instances/list/filter-deployments.tsx
  src/views/instances/list/instances-list.tsx
  src/views/instances/new-dhis2/fields/confirm-password.tsx
  src/views/instances/new-dhis2/fields/parameter-field.tsx
  src/views/reset-password/request-password-reset.module.css
  src/views/reset-password/reset-password.module.css
  src/views/sign-up/sign-up.module.css
  src/views/stacks/stack-details.module.css
  src/views/users/add-to-group-modal.module.css
  src/views/validate/validate.module.css
Due: eslint --fix, prettier --write

foo: this will fail
  .husky/_/.gitignore
  .husky/commit-msg
  commitlint.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: refactor adding user to groups
  src/views/users/add-to-group-button.tsx
  src/views/users/add-to-group-modal.tsx
  src/views/users/remove-from-group-button.tsx
  src/views/users/useAddGroups.tsx
  src/views/users/user-details.tsx
  src/views/users/users-list.tsx
Due: eslint --fix, prettier --write

chore: cleanup with yarn format
  src/views/users/add-to-group-button.tsx
  src/views/users/add-to-group-modal.tsx
  src/views/users/remove-from-group-button.tsx
  src/views/users/use-add-groups.tsx
Due: eslint --fix, prettier --write

feat: add husky to handle format and lint
  .husky/_/husky.sh
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: update precommit hook file
  .husky/pre-commit
  package.json
Due: prettier --write

chore: update precommit hook file
  .husky/pre-commit
Due: none

feat: add and enforce conventional commits
  .husky/commit-msg
  commitlint.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: add google login test button
  src/components/login.tsx
Due: eslint --fix, prettier --write

feat: add precommit hooks using husky and commitlint
  .hooks/commit-msg
  .hooks/pre-commit
  .hooks/pre-push
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: use a usecallback in adding groups
  src/views/users/remove-from-group-button.tsx
  src/views/users/use-add-groups.tsx
Due: eslint --fix, prettier --write
