Repository dhis2-sre/im-web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: move tolerations and nodeSelector config to value files
  helm/data/values/dev/values.yaml
  helm/data/values/prod/values.yaml
Due: prettier --write

chore: use yarn 4.6
  .gitignore
  .yarnrc.yml
  Dockerfile
  docker-compose.yml
  package.json
Due: prettier --write

chore: use yarn 4.7
  package.json
  yarn.lock
Due: prettier --write

chore: use yarn 4.7 (#667)
  .gitignore
  .yarnrc.yml
  Dockerfile
  docker-compose.yml
  package.json
  yarn.lock
Due: prettier --write

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: prettier --write

fix: persist instance
  README.md
  package.json
  src/views/instances/list/filter-deployments.tsx
  src/views/instances/list/instances-list.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Update instances list
  src/views/instances/list/instances-list.tsx
Due: eslint --fix, prettier --write

improve local storage
  src/views/instances/list/filter-deployments.tsx
Due: eslint --fix, prettier --write

fix: package.json to reduce vulnerabilities
  package.json
Due: prettier --write

chore: husky
  .husky/pre-commit
  README.md
  package.json
  yarn.lock
Due: prettier --write

fix: package.json to reduce vulnerabilities (#670)
  README.md
  package.json
  yarn.lock
Due: prettier --write

Merge branch 'master' into snyk-upgrade-cf3f6dbe6938fb433a45b3c5c2d531bf
  yarn.lock
Due: none

fix: update TypeScript version
  package.json
  src/components/alerts.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: update husky scripts and improve commit message linting
  .husky/commit-msg
  .husky/pre-commit
  package.json
  src/components/alerts.tsx
Due: eslint --fix, prettier --write

fix: upgrade react-router from 6.27.0 to 6.28.1 (#654)
  package.json
  yarn.lock
Due: prettier --write

Merge branch 'master' into snyk-upgrade-cf3f6dbe6938fb433a45b3c5c2d531bf
  package.json
Due: prettier --write

[Snyk] Upgrade @dhis2/app-runtime from 3.11.2 to 3.12.0 (#653)
  release.sh
Due: none

[Snyk] Upgrade @dhis2/app-service-alerts from 3.11.2 to 3.12.0 (#652)
  package.json
  yarn.lock
Due: prettier --write

[Snyk] Upgrade @dhis2/ui from 9.11.7 to 9.15.0 (#651)
  package.json
  yarn.lock
Due: prettier --write

Husky updates (#671)
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write

feat: same site cookies
  package.json
  src/views/instances/new-dhis2/constants.ts
  src/views/instances/new-dhis2/fields/local-parameter-select.tsx
  src/views/instances/new-dhis2/fields/parameter-field.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: same site cookies (#675)
  package.json
  src/views/instances/new-dhis2/constants.ts
  src/views/instances/new-dhis2/fields/local-parameter-select.tsx
  src/views/instances/new-dhis2/fields/parameter-field.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: add conditional warning and helptext and rename component to same-site-cookies-select
  src/views/instances/new-dhis2/fields/local-parameter-select.tsx
  src/views/instances/new-dhis2/fields/parameter-field.tsx
  src/views/instances/new-dhis2/fields/same-site-cookies-select.tsx
Due: eslint --fix, prettier --write

fix: adjust warning text
  src/views/instances/new-dhis2/fields/same-site-cookies-select.tsx
Due: eslint --fix, prettier --write

feat: add conditional warning and helptext and rename component (#676)
  src/views/instances/new-dhis2/fields/local-parameter-select.tsx
  src/views/instances/new-dhis2/fields/parameter-field.tsx
  src/views/instances/new-dhis2/fields/same-site-cookies-select.tsx
Due: eslint --fix, prettier --write

ci: add workflow for generating sbom
  .github/workflows/generate-and-upload-bom.yml
Due: prettier --write

chore: bump gha test
  .github/workflows/build-test-deploy.yaml
  .github/workflows/delete-env.yaml
Due: prettier --write

chore: do not pin kubectl test
  .github/workflows/build-test-deploy.yaml
  .github/workflows/delete-env.yaml
Due: prettier --write

chore: dummy commit
  README.md
Due: prettier --write

feat: add namespace to "new group" dialog
  src/types/generated/index.ts
  src/types/generated/models/Category.ts
  src/types/generated/models/ClusterConfiguration.ts
  src/types/generated/models/CopyDatabaseRequest.ts
  src/types/generated/models/CreateExternalDatabaseRequest.ts
  src/types/generated/models/CreateGroupRequest.ts
  src/types/generated/models/Database.ts
  src/types/generated/models/Deployment.ts
  src/types/generated/models/DeploymentInstance.ts
  src/types/generated/models/DeploymentInstanceParameter.ts
  src/types/generated/models/DeploymentInstanceParameters.ts
  src/types/generated/models/ExternalDownload.ts
  src/types/generated/models/FileHeader.ts
  src/types/generated/models/Group.ts
  src/types/generated/models/GroupWithDeployments.ts
  src/types/generated/models/GroupWithPublicInstances.ts
  src/types/generated/models/GroupsWithDatabases.ts
  src/types/generated/models/InstanceStatus.ts
  src/types/generated/models/Lock.ts
  src/types/generated/models/LockDatabaseRequest.ts
  src/types/generated/models/MIMEHeader.ts
  src/types/generated/models/PublicInstance.ts
  src/types/generated/models/RefreshTokenRequest.ts
  src/types/generated/models/RequestPasswordResetRequest.ts
  src/types/generated/models/ResetPasswordRequest.ts
  src/types/generated/models/SaveDeploymentRequest.ts
  src/types/generated/models/SaveInstanceRequest.ts
  src/types/generated/models/Stack.ts
  src/types/generated/models/StackParameter.ts
  src/types/generated/models/UpdateDatabaseRequest.ts
  src/types/generated/models/User.ts
  src/types/generated/models/parameter.ts
  src/types/generated/models/parameters.ts
  src/types/generated/models/saveAsRequest.ts
  src/types/generated/models/signUpRequest.ts
  src/types/generated/models/updateUserRequest.ts
  src/types/generated/models/uploadDatabaseRequest.ts
  src/types/generated/models/validateEmailRequest.ts
  src/views/databases/database-row-action.tsx
  src/views/groups/new-group-modal.tsx
Due: eslint --fix, prettier --write

feat: dynamic namespaces (#686)
  src/types/generated/models/Database.ts
  src/types/generated/models/Group.ts
  src/views/databases/database-row-action.tsx
  src/views/groups/new-group-modal.tsx
Due: eslint --fix, prettier --write

feat: show namespace on group listing
  src/views/groups/groups-list.tsx
Due: eslint --fix, prettier --write

docs: add design link
  README.md
Due: prettier --write

feat: stream uploads to S3 (aka. upload large files)
  src/views/databases/upload-database-modal.tsx
Due: eslint --fix, prettier --write

fix: open instance button
  src/views/instances/details/deployment-details.tsx
  src/views/instances/details/deployment-instances-list.tsx
  src/views/instances/details/view-instance-menu-item.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,jsx,tsx,cjs}
  prettier --write: (any of: **/*.{js,ts,jsx,tsx,cjs}) or (any of: **/*.{yml,yaml,json,html,css,md})
